.shadow-soft {
  .portable-text {
    &:not(:first-child) {
      padding-top: 2rem;
      border-color: hsl(var(--border));
      border-top-width: 1px;
      width: 100%;
    }
  }
}

.portable-text {
  ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
  }

  ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
  }

  li {
    margin-bottom: 0.5rem;
  }
}
